header, footer{
    background-color: rgb(8,33,41);
    color: white;
}

/* main{
    min-height: calc(100vh - 160px);
} */


.headercontainer{
    padding: 10px 10px;
    height: clamp(60px, 10vh, 120px);
}

.footercontainer{
    height: clamp(60px, 10vh, 120px);
}

.contentbox{ 
    background-color: rgb(13,25,31);
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.pokemonBox{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: solid 1px;
}

.topBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.middleBox img{
    width: 120px;
}

.lowerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 12px;
}

