/* background colours for pokemon types */

.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.grass { background-color: #78c850; }
.electric { background-color: #f8d030; color: #333; }
.ice { background-color: #98d8d8; color: #333; }
.rock { background-color: #b8a038; }
.ground { background-color: #e0c068; color: #333; }
.flying { background-color: #a890f0; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.poison { background-color: #a040a0; }
.normal { background-color: #a8a878; }
.fighting { background-color: #c03028; }
.ghost { background-color: #705898; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; color: #333; }
.dragon { background-color: #7038f8; }
.fairy { background-color: #ee99ac; color: #333; }

.loader-overlay {
  position: fixed;
  inset: 0; 
  background-color: rgba(13,25,31, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.d_none {
  display: none;
}

.pokemon {
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.pokemon::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}