.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.grass { background-color: #78c850; }
.electric { background-color: #f8d030; color: #333; }
.ice { background-color: #98d8d8; color: #333; }
.rock { background-color: #b8a038; }
.ground { background-color: #e0c068; color: #333; }
.flying { background-color: #a890f0; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.poison { background-color: #a040a0; }
.normal { background-color: #a8a878; }
.fighting { background-color: #c03028; }
.ghost { background-color: #705898; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; color: #333; }
.dragon { background-color: #7038f8; }
.fairy { background-color: #ee99ac; color: #333; }