html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
}

main{
  flex: 1;
  background-color: #0d191f;
}

.flexbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-limitation {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0
}